html {
	font-size: 16px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #000;
	background-color: #fff;
	min-width: 320px;
}

section {
	padding: 50px;
}

/* Default buttons style */
.all-buttons{
	background-color: #e3f2fd;
	color: #2b0029;
}

/* ===== Navbar ===== */

/* Font for the brand name in the navigation bar */
.navbar-brand {
	font-family: 'Sedgwick Ave Display', cursive;
	font-size: 30px;
}

/* Font for navigation bar elements */
.nav-item {
	font-size: 20px;
	font-weight: 500;
}

/* Redefining the size of the Bootstrap modal dialog box */
.modal-dialog {
  max-width: 500px;
}

/* Redefining the size and alignment for input fields in Bootstrap modal dialog box */
.input-field {
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  width: 90%;
}

/* ===== Carousel home\index.html, views\greetings.ejs ===== */

/* Redefining sizes and indents for Bootstrap carousel elements */
.carousel-item {
	padding: 30px;
	max-height: 400px;
}

/* Adaptivity setting element in the carousel */
.carousel-item img {
	object-fit: cover;
}

/* ===== Product card home\index.html ===== */

/* Text for the product card */
.card-text {
	font-size: 15px;
	height: 50px;
	overflow: hidden;
}

/* Indentation for the input elements in bottom of the product card */
.card-bottom button, input {
	margin-top: 11px;
	margin-left: 10px;
	float: right;
}

/* Product price font style */
.card-price {
	font-size: 30px;
	color: #8a2be2;
	float: left;
	font-weight: 600;
}

/* Determining the width of the quantity selector */
.quantity_select {
	width: 60px;
}

/* ===== views\produrt_details.ejs ===== */

/* Determining the width and position of the quantity selector container */
.quantity-select-container-product-details{
	width: 60px;
	text-align: center;
	display: inline-flex;
	margin-right: 20px;
}

/* Determining the width and position of the quantity selector */
.quantity-select-product-details {
	width: 100%;
	text-align: left;
	display: inline-flex;
}

/* ===== views\cart.ejs  ===== */

/* Style buttons on the cart page https://ru.stackoverflow.com/questions/653966 */
.cart-buttons{
	background-color: #e3f2fd;
	color: #2b0029;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

/* Remove all formating from the link on the buttons to avoid conflicts */
.cart-buttons-href{
	color: inherit;
    text-decoration: none;
    cursor: default;
}